apiVersion: v1
kind: Service
metadata:
  name: identity-service
  namespace: supplyboost
  labels:
    app: identity-service
spec:
  type: ClusterIP
  selector:
    app: identity-service
  ports:
    - name: http
      protocol: TCP
      port: 8081
      targetPort: 8081
  sessionAffinity: None
